body{
    background-color:lightslategray;
    color:floralwhite;
}
h1{
    background-color:coral;
}
span{
    font-size: 20px; float: left;

}

h4{
    float: right;
}

.color_red{
color: red
}
